@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$font-stack: Roboto, Helvetica, sans-serif;
$primary-color: #333;
$green1: #b5ca8d;
$green2: #8bb174;
$green3: #426b69;
$green4: #2a4849;
$red1: #b14537;
$red2: #8f352a;
$grey1: #f4f4f4;
$grey2: #e4e4e4;

$white: #fff;
$black: #000;
$textBlack: #202020;
$textGrey: #b4b4b4;
$textPlaceholder: rgba(42, 72, 73, 0.5);

$bgWhite: rgb(241, 241, 241);
$shadowBlack: rgba(0, 0, 0, 0.05);